@charset "UTF-8";
/* CSS Document */
body {
	background: #61C5EE;
	font-family: Arial, sans-serif;
	color: #556C7A;
}
div.container {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: #FDFEF8;
	margin: 25px auto;
	width: 1410px;
	padding: 0;
}
div.container div#navbar_out {
	border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	background: #C7E8F9;
	width: 100%;
	height: 220px;
	padding: 40px 0;
	position: relative;
	border-bottom: 2px solid #8C9AA3;
}
div.container div.fix-top {
	border: 0 !important;
}
div.lang {
	position: absolute;
	right: 20px;
	top: 20px;
	color: #aaa;
}
div.lang a {
	color: #aaa;
}
div.lang a:hover, div.lang span.active a:hover {
	color: #fff;
}
div.lang span.active a {
	color: #77afc2;
}
div.container nav.navbar {
	background: #C7E8F9;
	height: 160px;
}
div.container nav.navbar div.container-fluid {
	height: 160px;
}
.navbar-fixed-top div.container-fluid {
	border-bottom: 2px solid #8C9AA3;
}
a.navbar-brand {
	width: 330px;
	height: 160px;
	margin: 0 !important;
	padding: 0;
}
a.navbar-brand img {
	width: 207px;
	margin: 5px auto;
}
ul.nav {
	width: 1110px;
	margin: 0px auto;
	float: none;
}
nav.navbar-fixed-top {
	background: transparent !important;
	border: 0;
}
nav.navbar-fixed-top div.container-fluid {
	width: 1410px;
	margin: 0px auto;
	background: #C7E8F9;
}
.navbar-default {
	border: 0;
}
.navbar-nav > li {
	width: 195px;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
	margin-top: 35px;
}
.navbar-nav > li > a {
	color: #77afc2 !important;
}
.navbar-nav > li:hover > a, .navbar-nav > li > a.active {
	color: #fff !important;
}
.navbar-nav > li.icon1, .navbar-nav > li.icon2 {
	border-right: 1px solid #ccc;
}
.navbar-nav > li.icon3, .navbar-nav > li.icon4 {
	border-left: 1px solid #ccc;
}
.navbar-nav > li.icon1 i, .navbar-nav > li.icon2 i, .navbar-nav > li.icon3 i, .navbar-nav > li.icon4 i {
	display: block;
	width: 75px;
	height: 50px;
	margin: 0px auto 10px auto;
}
.navbar-nav > li.icon1 i {
	background: url(../img/nav_icon1.svg) 0px 0px no-repeat;
	background: url(../img/nav_icon1.png) 0px 0px no-repeat \9;
}
.navbar-nav > li.icon1:hover i, .navbar-nav > li.icon1 > a.active i {
	background: url(../img/nav_icon1.svg) 0px -50px no-repeat;
	background: url(../img/nav_icon1.png) 0px -50px no-repeat \9;
}
.navbar-nav > li.icon2 i {
	background: url(../img/nav_icon2.svg) 0px 0px no-repeat;
	background: url(../img/nav_icon2.png) 0px 0px no-repeat \9;
}
.navbar-nav > li.icon2:hover i, .navbar-nav > li.icon2 > a.active i {
	background: url(../img/nav_icon2.svg) 0px -50px no-repeat;
	background: url(../img/nav_icon2.png) 0px -50px no-repeat \9;
}
.navbar-nav > li.icon3 i {
	background: url(../img/nav_icon3.svg) 0px 0px no-repeat;
	background: url(../img/nav_icon3.png) 0px 0px no-repeat \9;
}
.navbar-nav > li.icon3:hover i, .navbar-nav > li.icon3 > a.active i {
	background: url(../img/nav_icon3.svg) 0px -50px no-repeat;
	background: url(../img/nav_icon3.png) 0px -50px no-repeat \9;
}
.navbar-nav > li.icon4 i {
	background: url(../img/nav_icon4.svg) 0px 0px no-repeat;
	background: url(../img/nav_icon4.png) 0px 0px no-repeat \9;
}
.navbar-nav > li.icon4:hover i, .navbar-nav > li.icon4 > a.active i {
	background: url(../img/nav_icon4.svg) 0px -50px no-repeat;
	background: url(../img/nav_icon4.png) 0px -50px no-repeat \9;
}
div#main {
	padding: 50px 0;
	background: #FDFEF8;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	width: 60%;
	margin: 0px auto -25% auto;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
	z-index: 0;
}
div#main > form {
	padding: 0;
	margin: 100px auto;
	width: 60%;
	position: relative;
	z-index: 99;
}
div#main > form > label {
	font-size: 30px;
	color: #9A9EAA;
	font-weight: normal;
	margin-bottom: 15px;
}
div#main > form > fieldset {
	border: 5px solid #9A9EAA;
}
div#main > form > fieldset > input, div#main > form > fieldset > button {
	height: 75px;
	font-size: 20px;
	border: 0;
	float: left;
	padding: 0 15px;
	outline: 0;
}
div#main > form > fieldset > input.error {
	border: 3px solid #D96D00;
}
.error::-webkit-input-placeholder { /* WebKit browsers */
	color: #D96D00;
}
.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #D96D00;
	opacity: 1;
}
.error::-moz-placeholder { /* Mozilla Firefox 19+ */
	olor: #D96D00;
	opacity: 1;
}
.error:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #D96D00;
}
div#main > form > span {
	color: #D96D00;
	font-size: 20px;
	margin-top: 15px;
	padding: 0 5px;
	display: none;
}
div#main > form > fieldset > input.name {
	width: 35%;
	border-right: 5px solid #9A9EAA;
}
div#main > form > fieldset > input.mail {
	width: 50%;
}
div#main > form > fieldset > button {
	width: 15%;
	background: url(../img/send_icon.svg) #9A9EAA no-repeat center 5px;
	background: url(../img/send_icon.png) #9A9EAA no-repeat center 5px \9;
	color: #fff;
	padding-top: 40px;
	float: right;
	cursor: pointer;
}
div#main > form > fieldset > button:disabled {
	background-color: #aaa;
}
div#main > form > fieldset > button:active {
	color: #aaa;
	background: url(../img/send_icon_.svg) #eee no-repeat center 5px;
	background: url(../img/send_icon_.png) #eee no-repeat center 5px \9;
}
div#main > form > div {
	display: none;
}
div#main > form.success > label {
	display: none;
}
div#main > form.success > fieldset {
	display: none;
}
div#main > form.success > div {
	text-align: center;
	color: #9CC958;
	font-size: 30px;
	line-height: 60px;
	display: block;
}
h2 {
	margin: 0 auto 50px auto;
	padding: 30px 0 0 0;
	font-size: 33px;
	text-align: center;
	width: 140px;
	border-radius: 70px 70px 0 0;
	-moz-border-radius: 70px 70px 0 0;
	-webkit-border-radius: 70px 70px 0 0;
	position: absolute;
	top: -50px;
	left: calc(50% - 70px);
}
h2 > i {
	width: 80px;
	height: 70px;
	display: block;
	margin: 0px auto;
}
h2.icon1 {
	background: #C8E8F9;
	color: #fff;
}
h2.icon1 > i {
	background: url(../img/h2_icon.svg) 0px 0px no-repeat;
	background: url(../img/h2_icon.png) 0px 0px no-repeat \9;
}
h2.icon2 {
	background: #F8F1EA;
	color: #E4D7C5;
}
h2.icon2 > i {
	background: url(../img/h2_icon.svg) 0px -70px no-repeat;
	background: url(../img/h2_icon.png) 0px -70px no-repeat \9;
}
#aboutus {
	padding: 150px 100px 100px 100px;
	background: #C8E8F9;
	position: relative;
}
#aboutus > div.left {
	width: 40%;
	float: left;
	text-align: center;
}
#aboutus > div.left > img {
	width: 100%;
}
#aboutus > div.left > b {
	font-size: 50px;
	display: block;
	width: 100%;
	margin: 15px 0 0 0;
}
#aboutus > div.left > em {
	font-size: 30px;
	display: block;
	width: 100%;
}
#aboutus > div.right {
	width: 60%;
	float: right;
	padding: 30px;
}
#aboutus > div.right > p {
	font-size: 28px;
	color: #7A94A3;
}
#aboutus > div.right > p > i {
	width: 45px;
	height: 30px;
	display: inline-block;
}
#aboutus > div.right > p > i.icon_before {
	background: url(../img/word_icon.png) 0px 0px no-repeat;
}
#aboutus > div.right > p > i.icon_after {
	background: url(../img/word_icon.png) 0px -30px no-repeat;
}
#feature {
	padding: 100px;
	background: #F8F1EA;
	position: relative;
}
#feature p {
	margin: 50px 0 0 0;
	padding: 0;
	font-size: 20px;
}
#feature p i {
	width: 220px;
	height: 220px;
	display: inline-block;
}
#feature p.left {
	text-align: left;
}
#feature p.left i {
	float: left;
	margin-right: 30px;
}
#feature p.right {
	text-align: right;
}
#feature p.right i {
	float: right;
	margin-left: 30px;
}
#feature p b {
	font-size: 30px;
	margin: 0;
	line-height: 100px;
	display: block;
}
#feature p i.icon1 {
	background: url(../img/feature_icon.svg) 0px 0px no-repeat;
	background: url(../img/feature_icon.png) 0px 0px no-repeat \9;
}
#feature p i.icon2 {
	background: url(../img/feature_icon.svg) -220px 0px no-repeat;
	background: url(../img/feature_icon.png) -220px 0px no-repeat \9;
}
#feature p i.icon3 {
	background: url(../img/feature_icon.svg) -440px 0px no-repeat;
	background: url(../img/feature_icon.png) -440px 0px no-repeat \9;
}
#feature p i.icon4 {
	background: url(../img/feature_icon.svg) 0px -220px no-repeat;
	background: url(../img/feature_icon.png) 0px -220px no-repeat \9;
}
#feature p i.icon5 {
	background: url(../img/feature_icon.svg) -220px -220px no-repeat;
	background: url(../img/feature_icon.png) -220px -220px no-repeat \9;
}
#feature p i.icon6 {
	background: url(../img/feature_icon.svg) -440px -220px no-repeat;
	background: url(../img/feature_icon.png) -440px -220px no-repeat \9;
}
div.blog {
	background-color: #FCFDF7;
	padding: 50px 0 0 0;
}
div.blog > span.time {
	display: inline-block;
	background: #FCB64A;
	line-height: 30px;
	color: #fff;
	font-size: 15px;
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	padding: 0 15px 0 10%;
}
div.blog > div {
	padding: 15px 10%;
	width: 100%;
	font-size: 20px;
	margin-bottom: 15px;
}
div.blog > div > h3 {
	padding: 0;
	margin: 0;
	font-size: 50px;
	line-height: 80px;
	width: 100%;
}
div.blog > div > span {
	display: block;
	font-size: 20px;
	width: 100%;
	line-height: 30px;
}
div.blog > div > span > img {
	width: 60px;
	float: left;
	margin-right: 15px;
}
div.blog > div > img {
	width: 100%;
	margin: 15px 0;
}
div.blog > span.share {
	width: 80%;
	background-color: #F6EDE3;
	padding: 15px 0;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	display: block;
	margin: 0 auto 50px auto;
}
div.blog > span.share > a {
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 12px 0;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	margin: 10px 5px;
	background: #546C7D;
	color: #fff;
}
div.blog > span.share > a:hover {
	background: #88969F;
	color: #fff;
}
a#next {
	display: block;
	text-align: center;
	font-size: 20px;
	color: #46CDE9;
	font-weight: bold;
	margin-bottom: 50px;
}
a#next i {
	margin-top: -10px;
}
a#next:hover {
	text-decoration: none;
	color: #546C7D;
}
footer {
	padding: 50px 0;
	background: #566D7C;
	color: #fff;
	font-size: 15px;
	text-align: center;
	border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	-webkit-border-radius: 0 0 20px 20px;
}
footer img {
	display: block;
	margin: 0px auto 15px auto;
	padding-bottom: 15px;
	border-bottom: 1px solid #aaa;
	width: 200px;
}
footer div {
	margin: 15px 0;
}
footer div a {
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 12px 0;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	margin: 10px 5px;
	background: #fff;
	color: #566D7C;
}
footer div a:hover {
	background: #88969F;
	color: #fff;
}
footer span {
	margin-top: 15px;
	display: block;
	color: #949DA9;
	font-size: 13px;
}
/* 桌機版 */
@media screen and (max-width: 9999px) {
	a.logo, div.mobile-menu {
		display: none;
	}
	input.nav-trigger {
		display: none;
	}
}
@media screen and (max-width: 1410px) {
	div.container {
		width: 100%;
	}
	nav.navbar-fixed-top div.container-fluid {
		width: auto;
	}
}
/* iPad版 */
@media screen and (max-width: 1170px) {
	div#main {
		padding: 100px 0;
	}
	div.container {
		width: 100%;
	}
	nav,div.lang {
		display: none;
	}
	div.container {
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		margin: 0px;
	}
	div.container div#navbar_out {
		height: 65px;
		border-bottom: 2px solid #8C9AA3;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		padding: 0;
		position: fixed;
		z-index: 999;
	}
	#nav-trigger:checked ~ #menu { 
		display: block;
		opacity: 1; 
	}
	.navbar-toggle {	
		display: block;
		height: 63px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		background: #DFF2FB;
		border-left: 2px solid #B0D8E4;
		margin: 0px;
		padding: 10px 15px;
		cursor: pointer;
	}
	.navbar-toggle .icon-bar {
		background-color: #87B2C2;
		width: 40px;
		margin: 7px 0 !important;
		height: 5px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.navbar-toggle:hover .icon-bar, #nav-trigger:checked ~ .navbar-toggle .icon-bar {
		background-color: #C2DCE9;
	}
	a.logo {
		display: block;
		position: absolute;
		top: 10px;
		left: 15px;
		width: 220px;
		height: 43px;
	}
	div.mobile-menu {
		display: none;
		background: #47597B;
		filter:alpha(opacity=95);
		-moz-opacity:0.95;
		opacity:0.95;
		position: absolute;
		top: 63px;
		right: 0px;
		width: 100%;
		border-top: 2px solid #3D5B79;
	}
	div.mobile-menu a {
		color: #aaa;
		font-size: 20px;
	}
	div.mobile-menu a:hover {
		color: #fff;
	}
	div.mobile-menu > ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
		width: 80%;
		float: left;
		text-align: center;
	}
	div.mobile-menu > ul > li {
		width: calc(25% - 10px);  
		display: inline-block;
		text-align: center;
		border-right: 1px solid #5C6F8D;
		margin: 30px 0;
	}
	div.mobile-menu > ul > li > label {
		display: block;
		cursor: pointer;
		font-size: 20px;
		color: #aaa;
	}
	div.mobile-menu > ul > li > label:hover {
		color: #fff;
	}
	div.mobile-menu > ul > li.icon1 i, div.mobile-menu > ul > li.icon2 i, div.mobile-menu > ul > li.icon3 i, div.mobile-menu > ul > li.icon4 i {
		display: block;
		width: 75px;
		height: 50px;
		margin: 0px auto 10px auto;
		filter:alpha(opacity=30);
		-moz-opacity:0.30;
		opacity:0.30;
	}
	div.mobile-menu > ul > li.icon1:hover i, div.mobile-menu > ul > li.icon2:hover i, div.mobile-menu > ul > li.icon3:hover i, div.mobile-menu > ul > li.icon4:hover i {
		filter:alpha(opacity=100);
		-moz-opacity:1.00;
		opacity:1.00;
	}
	div.mobile-menu > ul > li.active i {
		filter:alpha(opacity=100);
		-moz-opacity:1.00;
		opacity:1.00;
	}
	div.mobile-menu > ul > li.active > label {
		color: #fff;
	}
	div.mobile-menu > ul > li.icon1 i {
		background: url(../img/nav_icon1.svg) 0px -50px no-repeat;
		background: url(../img/nav_icon1.png) 0px -50px no-repeat \9;
	}
	div.mobile-menu > ul > li.icon2 i {
		background: url(../img/nav_icon2.svg) 0px -50px no-repeat;
		background: url(../img/nav_icon2.png) 0px -50px no-repeat \9;
	}
	div.mobile-menu > ul > li.icon3 i {
		background: url(../img/nav_icon3.svg) 0px -50px no-repeat;
		background: url(../img/nav_icon3.png) 0px -50px no-repeat \9;
	}
	div.mobile-menu > ul > li.icon4 i {
		background: url(../img/nav_icon4.svg) 0px -50px no-repeat;
		background: url(../img/nav_icon4.png) 0px -50px no-repeat \9;
	}
	div.mobile-menu > div {
		float: right;
		width: 20%;
	}
	div.mobile-menu > div > span {
		display: block;
		line-height: 46px;
		border-bottom: 1px solid #5C6F8D;
		text-align: center;
	}
	div.mobile-menu > div > span.active > a {
		color: #fff;
	}
	div.mobile-menu > div > span.no {
		border: 0;
	}
	.video-container, div#main form {
		width: 80%;
	}
	div#main form {
		margin: 50px auto;
	}
	#aboutus {
		padding: 100px 50px 50px 50px
	}
	#aboutus > div.right > p {
		font-size: 20px;
	}
	footer {
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
	}
	div.blog {
		margin-top: 65px;
	}
}
/* iPhone版-menu */
@media screen and (max-width: 567px) {
	div.mobile-menu a, div.mobile-menu > ul > li > label {
		font-size: 15px;
	}
	div.mobile-menu {
		width: 60%;
	}
	div.mobile-menu > ul {
		width: 100%;
	}
	div.mobile-menu > ul > li {
		width: calc(50%);  
		border-bottom: 1px solid #5C6F8D;
		margin: 0px -2px;
		padding: 30px 0;
	}
	div.mobile-menu > ul > li.right {
		border-right: 0;
	}
	div.mobile-menu > div {
		width: 100%;
		margin: 15px 0;
	}
	div.mobile-menu > div > span {
		width: 50%;
		float: left;
	}
	div.mobile-menu > div > span.active {
		line-height: 92px;
		border-bottom: 0;
		border-right: 1px solid #5C6F8D;
	}
	div.mobile-menu > ul > li i {
		zoom: 0.6;
		-moz-transform: scale(0.6);
		-moz-transform-origin: 0 0;
	}
}
/* iPhone版 */
@media screen and (max-width: 768px) {
	.video-container, div#main > form {
		width: 90%;
	}
	.video-container {
		margin: 0px auto;
	}
	.video-container iframe,
	.video-container object,
	.video-container embed {
		height: 100%;
	}
	div#main > form {
		margin: 30px auto 0px auto;
	}
	div#main > form > label {
		font-size: 20px;
	}
	div#main > form > fieldset > input, div#main > form > fieldset > button {
		zoom: 0.59;
		-moz-transform: scale(0.59);
		-moz-transform-origin: 0 0;
	}
	div#main > form > span {
		font-size: 13px;
	}
	div#main > form.success > div {
		font-size: 20px;
	}
	#aboutus {
		padding: 100px 30px 100px 30px;
	}
	#aboutus > div.left {
		float: none;
		width: 100%;
		margin: 15px auto;
	}
	#aboutus > div.left > b {
		font-size: 30px;
	}
	#aboutus > div.left > em {
		font-size: 20px;
	}
	#aboutus > div.right {
		float: none;
		width: 100%;
		margin: 0px auto;
		padding: 0px;
	}
	#aboutus > div.right > p {
		font-size: 15px;
	}
	#aboutus > div.right > p > i {
		zoom: 0.6;
		-moz-transform: scale(0.6);
		-moz-transform-origin: 0 0;
	}
	#feature {
		padding: 100px 30px;
	}
	#feature p.left i, #feature p.right i {
		float: none;
		display: block;
		margin: 0px auto;
	}
	#feature p.left, #feature p.right {
		text-align: center;
		font-size: 15px;
		margin: 50px 0 0px 0;
	}
	#feature p.left b, #feature p.right b {
		font-size: 20px;
		line-height: 20px;
		margin: 25px 0 15px 0;
	}
	div.blog {
		margin-bottom: -50px;
	}
	div.blog > span.time {
		font-size: 13px;
	}
	div.blog > div > h3 {
		font-size: 30px;
		line-height: 40px;
	}
	div.blog > div {
		font-size: 15px;
	}
	div.blog > div > span {
		font-size: 15px;
	}
	div.blog > span.share {
		margin: 0px auto;
	}
	a#next {
		margin-top: 100px;
	}
	footer.blog-footer {
		margin-top: 100px;
	}
}